# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
env

# Node
node_modules
.next
.turbo
*.log

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Environment
.env
.env.local

# Other
apps/web
packages/eslint-config
packages/typescript-config
packages/ui